# Temporary fix for loading Meqsum
git+https://github.com/huggingface/datasets.git
# run_summarization.py expects us to have installed from source
git+https://github.com/huggingface/transformers.git
rouge-score
evaluate